<h1><%=@user%> permissions</h1>
<% if @groups_permitted.empty?%>
  <p><%=@user%> cannot moderate any groups</p>
<% else %><h2>Groups <%=@user%> can moderate</h2>
	<ul id="permitted-groups">
	<% @groups_permitted.each do |group| 
	 %>
	  <li><%=group%>
	    <%= link_to "Remove as moderator", user_group_permission_path(@user, :id=>group),:method => :delete%>
	  </li>
	<% end %>
	</ul>
<% end %>

<h2>Add <%=@user%> as moderator to groups:</h2>
<ul id="not-permitted-groups">
<% @groups.each do |group| 
   if !@groups_permitted.include? group
  %>
  <li><%=group%> <%= link_to "Add as moderator", user_group_permissions_path(@user, :id=>group), :method=> :post %></li>
  <% end
  end
%>
</ul>


<%= link_to "Back to #@user", @user %>
