<div id="sidebar" class="grid_5 alpha">
  <p>Back to the <%= link_to "profile for #@user", @user %></p>
</div>


<div id="main" class="grid_11 omega">

<h1>Group permissions for <%=@user%> </h1>
<h2>Groups/studios <%=@user%> can moderate:</h2>
<% if @groups_permitted.empty?%>
  <p>none</p>
<% else %>
	<ul id="permitted-groups">
	<% @groups_permitted.each do |group| 
	 %>
	  <li>
	    <%=group%> <%= link_to "Remove as moderator", user_group_permission_path(@user, :id=>group),:method => :delete%>
	  </li>
	<% end %>
	</ul>
<% end %>

<h2>Other groups/studios:</h2>
<ul id="not-permitted-groups">
<% @groups.each do |group| 
   if !@groups_permitted.include? group
  %>
  <li><%=group%> <%= link_to "Add as moderator", user_group_permissions_path(@user, :id=>group), :method=> :post %></li>
  <% end
  end
%>
</ul>



</div>