<div id="page">
	<div class="largeForm">
	
		<h1><%= @page_title = "Reset your password" %></h1>
	  <% form_tag forgot_password_url do -%>

	    <p>
	      <%= label_tag "email", "Enter your email" %>
	      <%= text_field_tag 'email', @email, :class => "largeInput" %>
	    </p>
  	
	  	<p class="note">Forgot your username or password? <br />We'll get you back into the site in a jiffy.</p>

	  	<p class="submitBlock">
	  	<%= submit_tag ' Request account details ', :disable_with => " Sending... " %> or <%= link_to "Cancel", login_url %></p>
	
	  <% end -%>
  
	</div>
</div>