<div id="sidebar" class="grid_5 alpha">
  
</div>
  
<div id="main" class="grid_11 omega">

	<div class="largeForm">

	  <h1><%= @page_title = "Login" %></h1>
    
	  <% form_tag sessions_path do %>
	    <p>
	      <%= label_tag "login", "User name" %>
	      <%= text_field_tag 'login', params[:login], :class => "largeInput" %>
	    </p>
  
	    <p>
	      <%= label_tag "password" %>
	    	<%= password_field_tag 'password', params[:password], :class => "largeInput" %>
	    </p>  
  
	    <p class="rightLabel">
	  	  <%= check_box_tag 'remember_me', "1", params[:remember_me] %>
				<%= label_tag :remember_me, "Remember me on this computer", :class => :right %>
	    </p>
  
	    <p class="submitBlock">
	  	  <%= submit_tag 'Log in' %>  <%= link_to "Forgot your username or password?", forgot_password_url %>
	  	</p>
		
	  <% end -%>


	  <p class="formOptions">
	    Not signed up yet? <%= link_to "Join now!", signup_url(:return_to=>params[:return_to]) %>
	  </p>

	</div>
</div>