<div class="largeForm">
	<h1><%= @page_title = "Reset your password" %></h1>
	
	
  <p class="rightLabel">Hello <%=h @user %>.  You have chosen to reset your password.</p>

  <% form_for :user, :url => reset_password_url do | f | %>
    <%= f.error_messages %>
    
  	<p>
  	  <%= f.label :password, "Enter new password" %>
      <%= f.password_field :password %>
    </p>

    <p class="submitBlock">
      <%= submit_tag  'Change password', :disable_with => "Changing password..." %> or <%= link_to "Cancel", login_url %>
    </p> 
	
  <% end %>
</div>