
<h1><%= @page_title = "Edit #@topic" %></h1>
		
<div id="sidebar">

</div>

<div id="main">

        <div id="main">     
	            <%= error_messages_for(:topic) %>

              <% form_for @topic, :url => topic_url do | f | %>
							
								<p>
									<%= f.label :name %>
									<%= f.text_field :name %>
								</p>

                <p>
                  <% if @topic.description.blank? %>
                      <%= f.label :description, "Add a description" %>
                  <% else%>
                      <%= f.label :description, "Edit description" %>
                  <% end%>
                  <%= f.text_area :description, :class => "largeInput" %>
                </p>
    

                <p class="submitBlock">
                  <%= submit_tag "Update description" %> or <%= link_to "Cancel", @topic %>
                </p>
              <% end %>
        </div>


</div>
<%= clear_this %>