


<div id="sidebar">
	<%= link_to %Q{Start a new posting in "#{@topic}"}, new_post_url(:topic => @topic), :id => :newContent %>
</div>

<div id="main">
	
	<div id="topicDescription">
		<h1><%= @page_title = @topic %> <span class="count"><%= pluralize(@topic.posts.count, "article") %></span></h1>

		<% if @topic.description.blank? %>
		   <p><%= link_to  "Add a description", edit_topic_url  %></p>
		<% else  %>
		   <%= @topic.description %>
		   <p class="tinyOption"><%= link_to "Edit this topic", edit_topic_url  %><p>
		<% end %>
		
		
	</div>
	
	<div class="posts">
		<% for post in @topic.posts.sorted_by_created_at %>
			<div class="post">
				<p class="avatar">
					<%= link_to_avatar_for(post.user, :medium) %>
					<span class="author"><%= link_to_user(post.user) %>
				</p>
				<div class="postContent">
					<h2><%= link_to post, post %> 
						<span class="date">
							<%= when_changed(post) %>
						</span>
					</h2>
					<p><%= post.brief %></p>
				</div>
			</div>
		<% end %>
	</div>
</div>
<%= clear_this %>