<div id="main">
  <div class="largeForm">
    <h1><%= @page_title = @group.new_record? ? "Create group" : "Edit group" %></h1>
  
    <% form_for @group do | f | -%>
      <%= f.error_messages %>
    
      <fieldset>
        <p>
          <%= f.label :name, "Group name" %>
          <%= f.text_field :name, :class => "largeInput"  %>
        </p>
      </fieldset>

      <fieldset>
        <p>
          <%= f.label :group_category_id, "Group category" %>
          <%= f.collection_select :group_category_id,  @group_categories, :id, :name %>
        </p>
      </fieldset>
      
				
      <fieldset>
              <p>
            <%= f.label :desc, "Description" %>
            <%= f.text_area :desc, :class => "mceEditor largeInput" %>
          </p>  
      </fieldset>

      <fieldset>
          <p>
            <%= f.label :home_page, "Home page, if appropriate" %>
            <%= f.text_field :home_page, :class => :largeInput %>
          </p>
      </fieldset>

      <p class="submitBlock">
      	<% if @group.new_record?%>
				    <%= submit_tag  "Create group", :disable_with => "Creating..."  %>
				<% else %>
				    <%= submit_tag  "Save group", :disable_with => "Saving..." %> or <%= link_to "Cancel", @group %>
				<% end %>
      </p>
    
    <% end -%>
 
    
  </div>
</div>