<div class="group grid_11 alpha omega">
    
  	  
  		<div class="grid_7 alpha">
  	  	<span class="title"><a href="<%= group_path(group) %>"><%= group %></a><span class="category"><%= h(group.category) %></span></span>
    	  <div class="profileText"><%= truncate(group.desc, 220) %></div>
    	  <div class="clearRight"> </div>
  	  </div>
  	  <% if group.latest_image %>
    		<div class="grid_4 omega">
         <% group.latest3_images.each do |image| %>
				    <%= image_tag_for(image, :medium_square) %>
					<% end %>
        </div>
  		<% end %>
  		
	  </a>
</div>