<div class="group">
    <a href="<%= group_path(group) %>">
  	  <% if group.latest_image %>
    		<div class="latestImages">
         <% group.images.latest3.each do |image| %>
				    <%= image_tag_for(image, :medium_square) %>
					<% end %>
        </div>
  		<% end %>
  		<div class="title"><%= group %><span class="category"><%= h(group.category) %></span></div>
  	  <div class="profileText"><%= h(group.desc) %></div>
  	  <div class="clearRight"> </div>
	  </a>
</div>