<div class="truncatedPost">
<h3><a href="<%= post_path(post) %>"><%=h(post.title)%></a></h3>
<p class="postDetails">
		Post by <%= link_to_user(post.group) %> originally posted <%= time_ago_in_words(post.created_at) %> ago.
</p>
<p><%= truncate(plain_text(post.text),600) %></p> 
</div>