<% @current_tab = :groups %>

		
<div id="sidebar">
	<ul>
  	<% @groups.each do |group| %>
  	 <li><%=link_to group, group %></li>
  	<% end %>
  </ul>

  <% if logged_in_as_admin? %>  
    <p><%= link_to 'Create a new group', new_group_path %></p>
  <% end %>
</div>

<div id="main">
  <h1><%= @page_title = "Articles from all Studios" %></h1>
	<%= render :partial => 'posts/post_list' %>
</div>
<%= clear_this %>