<% @current_tab = :groups %>

		
<div id="sidebar">
  <div id="largeDescription">
    <p>The School of Architecture sports multiple studios ...</p>
  </div>
  
  <div id="subscribe">
    <p><a href="<%= formatted_posts_url(:format => :rss) %>" class="rss">Subscribe to all posts</a></p>
  </div>
  
  <% if logged_in? %>
    <% if  current_user.group_permissions.count > 0 %>
      <h2>Your studios/groups...</h2>
      <ul class="groupsList">
    	<% current_user.group_permissions.each do |gp| 
    	  group = gp.group  %>
    	  <li><%=link_to group, group%></li>
    	<% end %>
    	</ul>
    <% end %>
	<% end %>
	
  <h2>Select studios...</h2>
	<ul class="groupsList">
  	<% @groups.each do |group| %>
  	 <li><%=link_to group, group %></li>
  	<% end %>
  </ul>

  <% if logged_in_as_admin? %>  
    <p><%= link_to 'Setup new studio / group', new_group_path, :class => "buttonLink" %></p>
  <% end %>
</div>

<div id="main">
  <h1><%= @page_title = "Articles from all Studios" %></h1>
	<%= render :partial => 'posts/post_list' %>
</div>
<%= clear_this %>