



<div id="sidebar" class="grid_5 alpha">
  
  <div id="largeDescription">
    <% if @group.desc != "" %>
      <h2>More about <%= @group %></h2>
      <%= simple_format(h(@group.desc))%>   
    <% end %>
  </div>
  
	
    <% if logged_in? && (current_user.admin? || current_user.can_edit?(@group))%>
		<div id="group-admin-controls">
        <h2>Admin options for this group:</h2>   
				 <% if !current_user.can_edit?(@group) %>
          <p class='site-admin'>You are not an administrator of this group.</h2>
          <% end%>
            
        <ul>
			<% if current_user.can_edit?(@group) %>
		  	  <li><%= link_to "Edit this group", edit_group_path(@group)%></li>
		      <li<% if @group.has_feed_problem? %> class="feed-problem"<% end%>>
		        <%= link_to "Add / remove remote content (feeds)", group_rss_feeds_path(@group)%></li>
		  <% end %>
	
			 <% if current_user.admin? %>
		      <li class='site-admin'>
		      <% if current_user.can_edit?(@group) %>
		       <%= link_to "Remove yourself", user_group_permission_path(current_user, :id=>@group, :return_to=>request.path),:method => :delete%>
		      <% else %>
		       <%= link_to "Add yourself", user_group_permissions_path(current_user, :id=>@group, :return_to=>request.path),:method => :post%>
		      <% end %>
		      as an administrator of this group.
		      </li>
		  <% end %>
			       </ul>
      </div>
      <% end %>
</div>  

<div id="main" class="grid_11 omega">
  
    <div id="groupHeader">
      <h1><%= @page_title = @group %></h1>
      <p>
      <span class="category"><%= h(@group.category) %></span>
      <% if !@group.home_page.nil?%>
        <%=link_to "Visit home page", @group.home_page %>
      <% end %>
      </p>
      
    </div>
    
    
    <% if @featured_images.count > 0 %>
		  <%= render :partial=>'image', :collection=>@featured_images %>
		<% end %>
    


      <% if @featured_texts.count > 0 %>
        <%= clear_this %>
        <div id="featuredTexts" class="paddedSection">
          <h2>Featured posts by <%= @group%></h2>
          <%= render :partial=>'post', :collection=>@featured_texts %>
          <%= clear_this %>
        </div>
      <% end %>
      
      <div class="imageCloud">
      	<% for image in @recent_images %>
        	<a href="<%= post_path(image.post) %>">
            <%= image_tag_for(image, :crop64) %>
          </a>
        <% end %>
        <%= clear_this %>
  		</div>
  		
  		<%= clear_this %>
      
      <div class="paddedSection">
        <h2>Other recent works by <%= @group%></h2>
        <%= render :partial=>'post', :collection=>@recent_texts %>
        
        <p><%= link_to "All posts by #{@group}", recent_group_path(@group) %></p>
      </div>

</div>