



<div id="sidebar">
  
  <div id="largeDescription">
    <h1><%= @page_title = @group %></h1>
    <p><%=@group.profile_text%></p>
  </div>
  <% if !@group.home_page.nil?%>
    <p>Visit studio site: <%=link_to nil, @group.home_page %></p>
  <% end %>
  
	
  <% if logged_in? && current_user.can_moderate?(@group) %>
    <h2>Admin options for this group</h2>
	
  	<ul>
  	  <li><%= link_to "Edit group", edit_group_path(@group)%></li>
  	  <li><%= link_to "Edit feeds", group_rss_feeds_path(@group)%></li>
    </ul>
  <% end %>
	
	 <% if logged_in? && current_user.admin? %>
      
      <% if !current_user.can_moderate?(@group) %>
      <h2 class='site-admin'>You are not an administrator of this group.</h2>
      <% end%>
      <p class='site-admin'>As you are an site administrator you can
      <% if current_user.can_moderate?(@group) %>
       <%= link_to "remove yourself", user_group_permission_path(current_user, :id=>@group, :return_to=>request.path),:method => :delete%>
      <% else %>
       <%= link_to "add yourself", user_group_permissions_path(current_user, :id=>@group, :return_to=>request.path),:method => :post%>
      <% end %>
      as an admin of this group.
      </p>
  <% end %>
  
</div>  

<div id="main">  
  
    <div class="imageStrip">
    	<% for image in @images%>
    	<a href="<%= post_path(image.post) %>" class="imageStripImage">
        <%= image_tag(image.src, :height=>128) %>
        <span class="label">
          <span class="title"><%= image.post.title %></span>
        </span>  
      </a>
    <% end %>
    <div class="clearThis"> </div>
		</div>
  <%= render :partial=>'posts/post_list'%>
</div>