<h1><%= @page_title = "The Community" %></h1>
<% @current_tab = :users %>
<div id="sidebar">
	
	<% if logged_in? %>
	    <div id="missionStatement">
        <h2>Who is featured here?</h2>
    		<p>
    		  Just make sure to add an image and something about yourself to <%= link_to('your profile', user_url(current_user)) %> to appear here.</p>
    		  <p>Users are listed by most recent contributions to the discussion.
        </p>
  	  </div>
    <% else %>
		  <div id="missionStatement">
        <h2>You can join, too!</h2>
    		<p>
    		  If your are interested in the public sector and its transformation you can <%= link_to "join the Community", signup_url %> to meet others and share your ideas.</p>
    		  <p>Everybody is welcome.	
        </p>
  	  </div>
	<% end %>

	
	<div>
  	<h2>
  		Recently signed up
  	</h2>
  		<ul class="miniUserList">
  			<% for user in User.recently_signed_up %>
  				<li>
  					<%= link_to user, user %>
  				</li>
  			<% end %>
  		</ul>
		
  		<p class="more"><%= link_to "See all users", all_users_url %></p>
  		<%if logged_in? && current_user.admin %>
		  <p class="more"><%= link_to "See all users' email addresses", admin_emails_url %></p>
		  <% end %>
</div>
</div>
  <div id="main">
      <ul id="memberList">
       <% for user in @users %>
         <li>
					<span class="avatar">
          	<%= link_to_avatar_for(user, :large) %>
					</span>
					<div class="memberListProfileDetails">
						<h2><%= link_to_user(user) %></h2>
						<% if user.location != "" %>
      			  <p class="location"><%=h user.location %></p>
      			<% end %>
						<% unless user.profile_text.blank? %>
							<p><%= truncate(user.profile_text, :length => 200) %></p>
							
						<% end %>
					</div>
					<%= clear_this %>
         </li>
       <% end %>
    	</ul>
  </div>
<%= clear_this %>