<h1><%= @page_title = "Recent Contributors" %></h1>
<% @current_tab = :users %>
<div id="sidebar">
	
	<% if !logged_in? %>
	   <div>
        <p id="joinButton"><%= link_to "Join?", signup_url, :class => "joinLink" %><br />
			<%= link_to "Login", login_url %>, if you're already a member.</p>
	   </div>
    <% else %>
		<div id="peopleInfo">
		      <p>Members of the Connected Republic who have recently contributed.</p>
	  	</div>
	<% end %>

	
	<div>
  	<h2>
  		Recently signed up
  	</h2>
  		<ul class="miniUserList">
  			<% for user in User.recently_signed_up %>
  				<li>
  					<%= link_to user, user %>
  				</li>
  			<% end %>
  		</ul>
		
  		<p class="more"><%= link_to "See all users", all_users_url %></p>
  		<%if logged_in? && current_user.admin %>
		  <p class="more"><%= link_to "See all users' email addresses", admin_emails_url %></p>
		  <% end %>
</div>
</div>
  <div id="main">
      <ul id="memberList">
       <% for user in @users %>
         <li>
					<span class="avatar">
          	<%= link_to_avatar_for(user, :large) %>
					</span>
					<div class="memeberListProfileDetails">
						<h2><%= link_to_user(user) %></h2>
						<% unless user.profile_text.blank? %>
							<p><%= truncate(user.profile_text, 200) %></p>
							
						<% end %>
						<p><%= link_to('View profile', user_url(user)) %></p>
					</div>
					<%= clear_this %>
         </li>
       <% end %>
    	</ul>
  </div>
<%= clear_this %>