<h1><%= @page_title = "Recent Contributors" %></h1>
<% @current_tab = :users %>
<div id="sidebar">
	<div id="peopleInfo">
  <p>Members of the Connected Republic who have recently contributed.</p>
	<% if !logged_in? %>
     <p><%= link_to "Join?", signup_url, :id => 'joinButton' %><br />
			<%= link_to "login", login_url %>, if you're already a member.</p>
	<% else %>
        <p>Make sure to add a <%= link_to "bio", bio_settings_url%> and a <%= link_to "picture", picture_settings_url%> in your settings if you would like to appear in this section, too.</p>
	<% end %>
	</div>
</div>
  <div id="main">
      <ul id="memberList">
       <% for user in @users %>
         <li>
					<span class="avatar">
          	<%= link_to_avatar_for(user, :large) %>
					</span>
					<div class="memeberListProfileDetails">
						<h2><%= link_to_user(user) %></h2>
						<% unless user.profile_text.blank? %>
							<p><%= truncate(user.profile_text, 200) %></p>
							
						<% end %>
						<p><%= link_to('View profile', user_url(user)) %></p>
					</div>
					<div class="clearThis"> </div>
         </li>
       <% end %>
    	</ul>
  </div>
<div class="clearThis"> </div>