<h1><%= @page_title = "All Contributors" %></h1>
<% @current_tab = :users %>
<div id="sidebar">
    <p>Members of the Connected Republic who have recently contributed</p>
	<% if !logged_in? %>
     <p><%= link_to "Join The Connected Republic", signup_url, :id => 'joinButton' %>
	   or <%= link_to "login", login_url %>, if you're already a member.</p>
	<% elsif current_user.profile_text.blank?%>
        <p class="note">You won't appear on this page, until you <%= link_to "add a brief bio", bio_settings_url%>.</p>
	<% end %>
</div>
  <div id="main">
      <ul id="memberList">
       <% for user in @users %>
         <li>
					<span class="avatar">
          	<%= link_to_avatar_for(user, :large) %>
					</span>
					<div class="memeberListProfileDetails">
						<h2><%= link_to_user(user) %></h2>
						<% unless user.profile_text.blank? %>
							<p><%= truncate(user.profile_text, 200) %></p>
							
						<% end %>
						<p><%= link_to('View profile', user_url(user)) %></p>
					</div>
					<div class="clearThis"> </div>
         </li>
       <% end %>
    	</ul>
  </div>
<div class="clearThis"> </div>