
<div id="page">
	<div class="largeForm">
	  <h1><%= @page_title = "Join" %></h1>
  
	  <% form_for @user do | f | -%>
	    <%= f.error_messages %>
    
	    <fieldset>
		    <p>
		      <%= f.label :login, "Desired user name" %>
		      <%= f.text_field :login, :class => "largeInput"  %>
		    </p>
            <p class="note">You can always change this after you join.</p>
  
		    <p>
		      <%= f.label :email, "Your email" %>
		      <%= f.text_field :email, :class => "largeInput" %>
            </p>
            
		    <p>
		      <%= f.label :password %>
		      <%= f.password_field :password, :class => "largeInput" %>
		    </p>
            <p class="note">If you forget your password we can email you details of how to get back online.</p>
	    </fieldset>
    
	  	<p class="submitBlock">
	  	  <%= submit_tag 'Sign up' %>
	  	</p>
  	
	  	<p class="formOptions">
	    	Already signed up? <%= link_to "Sign in here", login_url %>.
	    </p>
    
	  <% end -%>
  

    
	</div>
</div>