<% @page_title = "#{@user.possessive_to_s} Profile" %>
<div id="profile">
	<div id="sidebar">
		<%= render :partial => 'users/recent_posts' %>
	</div>

	<div id="main">
		<%= render :partial => 'users/avatar' %>

		<div id="profileDetails">
			<h1><%=h @user %></h1>
			<%= render :partial => 'users/profile' %>
			<%= render :partial => 'users/recent_events' %>
		</div>
		<%= clear_this %>

	</div>
	<%= clear_this %>
</div>			

