<% @page_title = "#{@user.possessive_to_s} Profile" %>
<div id="profile">
	<div id="sidebar">
			<!--<div id="recentPosts">
                <h2><%=h @user.possessive_to_s %> recent posts</h2>
                <ul>
                <% for post in @user.posts %>
                    <li><%= link_to post, post %></li>
                <% end %>
                </ul>
            </div>
			-->
			<div id="recentEvents">
                <h2>Recently, <%=h @user %>... </h2>
                <ul>
                <% for event in @user.events %>
                    <li>             <%= render :partial => "users/event", :locals => { :event => event } %>
</li>
                <% end %>
                </ul>
            </div>

	</div>
	<div id="main">
		
		
		<p class="avatar">
	    <%= avatar_for(@user, :large) %>
			<% if logged_in? && @user==current_user%>
				 <% if !@user.avatar %>
	    		<%= link_to('Upload a picture?', picture_settings_url) %>
				<% else %>
					<%= link_to('Change picture?', picture_settings_url) %>
				<% end %>
			<% end %>
	  </p>

	    
		<div id="profileDetails">
			<h1><%=h @user %></h1>
		

			<% unless  @user.profile_text.blank? %>
				<div id="bio">
					<%= detail_format(@user.profile_text) %>
				</div>
			<% end %>
			
			<% unless  @user.home_page.blank? %>
              <p class="homepage"><%=h @user %> is at home at <%= link_to @user.home_page, @user.home_page, :rel => "me" %>.</p>
      <% end %>

			<% if logged_in? && @user==current_user && @user.profile_text.blank? %>
					<p>Introduce yourself and <%= link_to('add a bio', bio_settings_url) %></p>
			<% end %>
      <% if logged_in? && @user==current_user && !@user.profile_text.blank? %>
            <p class="tinyOption"><%= link_to('Edit your bio', bio_settings_url) %></p>
      <% end %>
			


		</div>
		<div class="clearThis"> </div>
	
            
	
	

	
		      

	</div>
	<div class="clearThis"> </div>
</div>			

