<% @page_title = "#{@user.possessive_to_s} Profile" %>
<div id="profile">
	<div id="sidebar">
	  <% if logged_in_as_admin? %>
	    <h2>Admin options for this user</h2>
			<ul>
				<li><%= link_to("Login as #{@user}", become_user_url(@user), :method => :post) %>
        </li>
      	<li><%= link_to("Add/remove from groups", user_group_permissions_path(@user)) %>
				</li>
				</ul>
		<% end %>
	</div>

	<div id="main">
		<%= render :partial => 'users/avatar' %>

		<div id="profileDetails">
			<h1><%=h @user %></h1>
			<% unless @user.location.blank? %>
			  <p class="location"><%=h @user.location %></p>
			<% end %>
			<%= render :partial => 'users/profile' %>
			<%= render :partial => 'users/recent_events' %>
		</div>
		<%= clear_this %>

	</div>
	<%= clear_this %>
</div>			

