<% @page_title = "#{@user.possessive_to_s} Profile" %>
<div id="profile">
	<div id="sidebar">
		<%= render :partial => 'users/recent_posts' %>
	</div>

	<div id="main">
		<%= render :partial => 'users/avatar' %>

		<div id="profileDetails">
			<h1><%=h @user %></h1>
			<% if @user.location != "" %>
			  <p class="location"><%=h @user.location %></p>
			<% end %>
			<%= render :partial => 'users/profile' %>
			<%= render :partial => 'users/recent_events' %>
			
			<% if logged_in_as_admin? %>	
				<br>
				<%= link_to("Become #{@user} (since you're an admin)", become_user_url(@user), :method => :post) %>
			<% end %>
		</div>
		<%= clear_this %>

	</div>
	<%= clear_this %>
</div>			

