<% @page_title = "#{@user.possessive_to_s} Profile" %>
<div id="profile">
	<div id="sidebar">
		<% if logged_in? && @user==current_user%>
            <% if  !@user.avatar %>
                <p>Please make yourself recognizable by <%= link_to('uploading a picture of yourself', picture_settings_url) %></p>
            <% end %>
        <% end %>

	</div>
	<div id="main">
		
		
		<p class="avatar">
	    <%= avatar_for(@user, :large) %>
	  </p>
            <% if  @user.avatar %>
                <p><%= link_to('Change your picture', picture_settings_url) %></p>
            <% end %>
	    
		<div id="profileDetails">
			<h1><%=h @user %></h1>
			<% unless  @user.home_page.blank? %>
					<p class="homepage">is at home at <%= link_to @user.home_page, @user.home_page, :rel => "me" %>.</p>
			<% end %>
		

			<% unless  @user.profile_text.blank? %>
				<div id="bio">
					<%= detail_format(@user.profile_text) %>
				</div>
			<% end %>
            <% if logged_in? && @user==current_user%>
                <% if  @user.profile_text.blank? %>
				    <p>Please introduce yourself to the community by <%= link_to('adding a bio', bio_settings_url) %></p>
			    <% else %>
                    <p><%= link_to('Edit your bio', bio_settings_url) %></p>
			    <% end %>
            <% end %>

		</div>
		<div class="clearThis"> </div>
	
	
	

		<div class="posts">
			<h2><%=h @user.possessive_to_s %> posts</h2>
			<% for post in @user.posts %>
				<p><%= link_to post, post %></p>
			<% end %>
		</div>
		      

	</div>
	<div class="clearThis"> </div>
</div>			

