<% @page_title = "#{@user.possessive_to_s} Profile" %>
<div id="profile">
	<div id="sidebar">
		<p class="avatar">
	    <%= avatar_for(@user, :large) %>
	  </p>
	</div>
	<div id="main">
		<h1><%=h @user %></h1>
		<% unless  @user.home_page.blank? %>
				<p class="homepage">At home at <%= link_to @user.home_page, @user.home_page, :rel => "me" %>.</p>
		<% end %>
		
		<% unless  @user.profile_text.blank? %>
			<div id="bio">
				<%= detail_format(@user.profile_text) %>
			</div>
		<% end %>
	
	
	

		<div class="posts">
			<h2><%=h @user.possessive_to_s %> posts</h2>
			<% for post in @user.posts %>
				<p><%= link_to post, post %></p>
			<% end %>
		</div>
		      
	   <% if logged_in? && @user==current_user%>
            <p><i>This is you. <%= link_to('Edit your image or profile text', settings_url) %></i></p>
       <% end %>

	</div>
	<div class="clearThis"> </div>
</div>			

