<h2>Current feature</h2>
<div class="post">
     <p class="avatar">
         <%= link_to_avatar_for(@current_featured.user, :medium) %>
     </p>
     <div class="postContent">
         <h2>
						<%= link_to @current_featured, @current_featured %> 
						
				</h2>
				<p class="meta">
					<span class="date">
						<% if @current_featured.created_at==@current_featured.updated_at%>
							created <%= time_ago_in_words(@current_featured.created_at) %> ago,
						<% else %>
							last updated 
							<%= time_ago_in_words(@current_featured.updated_at) %> ago,
						<% end %>
					</span>
					<span class="commentCount">
					<%= pluralize(@current_featured.comments.count, "Comment") %>
					</span>
			  </p>
                 <%= @current_featured.brief %>
                <span class="readmore"><%= link_to "Read more...", @current_featured %></span> 
				
					<% if @current_featured.topics.size>0 %><p class="topics">posted in
						<% for topic in @current_featured.topics %>
							<%= link_to topic, topic, :class => "topic" %>
						<% end %></p>
					<%end %>
     </div>
 </div>
