<div class="post">
     <p class="avatar">
         <%= link_to_avatar_for(@current_featured.user, :medium) %>
     </p>
     <div class="postContent">
         <h2<% if @current_featured.has_attachment? %> class="file"<% elsif @current_featured.video_embed_tags %> class="video"<%end%>>
						<span class='featured'>Featured:</span>
						<%= link_to h(@current_featured), @current_featured %> 
				</h2>
				<%= render :partial => 'posts/meta', :locals=>{:post=>@current_featured}%>
				<% if @current_featured.video_embed_tags %>
      	  <div class="video">
      	    <%= @current_featured.video_embed_tags %>
      	  </div>
      	<% end %>
      	
      	<% if @current_featured.has_attachment? %>
      	  <%= link_to "<img src=\"/images/pdf.gif\" width=\"54px\" height=\"66px\" alt=\"PDF preview\" />", @current_featured.attachment.public_filename, :class => "PDFpreview" %>
        	<div class="fileBody">
        		<%= @current_featured.brief %>
          	<span class="readmore"><%= link_to "Read more", @current_featured %></span>
          	<% if @current_featured.tags.size>0 %><p class="tags">posted in
  						<% for tag in @current_featured.tags %>
  							<%= link_to tag, tag, :class => "tag" %>
  						<% end %></p>
  					<%end %>
        	</div>
      	<% else %>
      	  <%= @current_featured.brief %>
          <span class="readmore"><%= link_to "Read more", @current_featured %></span>
          <% if @current_featured.tags.size>0 %><p class="tags">posted in
						<% for tag in @current_featured.tags %>
							<%= link_to tag, tag, :class => "tag" %>
						<% end %></p>
					<%end %>
      	<% end %>

     </div>

			<p class="more"><%= link_to "More features", featured_posts_url %></p>
 </div>
