<div id="recentlyFeatured">
  <% for post in @featured %>
    <div class="post">
        <p class="avatar">
            <%= link_to_avatar_for(post.author, :tiny) %>
        </p>
        <div class="postContent">
            <h3>
							<%= link_to h(post), post %> 
						</h3>
						<p class="meta">
						  Featured, 
    					<span class="date">
    						<% if post.created_at==post.updated_at%>
    							created <%= time_ago_in_words(post.created_at) %> ago,
    						<% else %>
    							last updated 
    							<%= time_ago_in_words(post.updated_at) %> ago,
    						<% end %>
    					</span>
    					<span class="commentCount">
    					<%= pluralize(post.comments.count, "Comment") %>
    					</span>
    			  </p>
        </div>
    </div>
  <% end%>
	
</div>
