<% @current_tab = :home %>

<div id="frontPage">
	
	<h1>Welcome to <%= APP_NAME %></h1>

	<div id="sidebar">
		<%= render :partial => 'recent_features' %>
		<%= render :partial => 'home/users' %>
	</div>

	<div id="main">
		<%= render :partial => 'home/current_feature' %>
		<%= render :partial => 'home/recent_activity' %>
	</div>

	<div class="clearThis"> </div>
	
</div>