<% @current_tab = :home %>

<div id="frontPage">
	


	<div id="sidebar">
	

  <div id="missionStatement">
    <h2>What is this?</h2>
		<p>
		  A community space, initiated by Cisco's Internet Business Solutions Group, where people interested in public sector transformation can meet each other and share their ideas.	
    <p>
    <p>We have recently updated this site. Please <%= link_to "share your feedback and suggestions", "/tags/The%20Connected%20Republic" %>.</p>

  </div>
		
		
		<div id="subscribe">
		  <h2>Subscribe</h2>
		  <p><a href="<%= formatted_posts_url(:format => :rss) %>" class="rss">Subscribe to all postings</a></p>
		  <p><a href="<%= formatted_featured_posts_url(:format => :rss) %>" class="rss">Subscribe to featured postings</a></p>
		</div>
		

    
		<%= render :partial => 'home/users' %>
	</div>

	<div id="main">
	
	<h1>Welcome to <%= APP_NAME %></h1>
	<p id="strapline">How can creators and users of public services gain<br />from our increasingly connected world?</p>
	
  <h2>Featured postings</h2>
  
		<%= render :partial => 'home/current_feature' if @current_featured %>
		<%= render :partial => 'recent_features' %>
		<%= render :partial => 'home/recent_activity' %>
	</div>

	<%= clear_this %>
	
</div>