<% @current_tab = :home %>
	<h1>Welcome to The Connected Republic</h1>
	
	
<div id="sidebar">
	<div id="recentlyFeatured">
	  <% for post in @posts[1..5] %>
	    <div class="post">
	        <p class="avatar">
	            <%= link_to_avatar_for(post.user, :tiny) %>
	        </p>
	        <div class="postContent">
	            <h2><%= link_to post, post %> <span class="date"><%if post.created_at==post.updated_at%>created <%= time_ago_in_words(post.created_at) %> ago<%else%>last updated <%= time_ago_in_words(post.updated_at) %> ago<%end%></span></h2>
	        </div>
	    </div>
	    <% end%>

	</div>
	
	
   <h2>People</h2>
   				<ul>
         <% for user in @users[0..2] %>
         <li>
                    <span class="avatar">
            <%= link_to_avatar_for(user, :small) %>
                    </span>
                    <div class="memeberListProfileDetails">
                        <h2><%= link_to_user(user) %></h2>
                        <% unless user.profile_text.blank? %>
                            <p><%= truncate(user.profile_text, 200) %></p>
                            
                        <% end %>
                        <p><%= link_to('View profile', user_url(user)) %></p>
                    </div>
                    <div class="clearThis"> </div>
         </li>
       <% end %>
        </ul>
</div>

<div id="main">
   <div class="post">
       <p class="avatar">
           <%= link_to_avatar_for(@post.user, :medium) %>
       </p>
       <div class="postContent">
           <h2><%= link_to @post, @post %> <span class="date"><%if @post.created_at==@post.updated_at%>created <%= time_ago_in_words(@post.created_at) %> ago<%else%>last updated <%= time_ago_in_words(@post.updated_at) %> ago<%end%></span></h2>
					 <%= detail_format(@post.detail) %>
					
						<% if @post.topics.size>0 %><p class="topics">posted in
							<% for topic in @post.topics %>
								<%= link_to topic, topic, :class => "topic" %>
							<% end %></p>
						<%end %>
       </div>
   </div>
    

	
	<h2>Recent activity</h2>
    <div class="events">

        <ul>
         <% for event in @events %>
             <%= render :partial => "events/event", :locals => { :event => event } %>
         <% end %>
        </ul>

    </div>

</div>

<div class="clearThis"> </div>

