<% @current_tab = :home %>

<div id="frontPage">
	


	<div id="sidebar">
	<% if logged_in? %>
	  <p id="newContent"><%= link_to "Start a discussion", new_post_url %></p>
      <div id="missionStatement">
<% else %>  
      <h2>What is this?</h2>
  		<p>
  		  A community space, initiated by Cisco's Internet Business Solutions Group, where people interested in public sector transformation can meet each other and share their ideas.	
      </p>

  <% end %>  
  <p>We are regularly updating how the site works. Please <%=link_to "share your feedback and suggestions", "tags/The Connected Republic"%>.</p>
  </div>
		
		
		  <%=render :partial=>'posts/subscription' %> 

		

    
		<%= render :partial => 'home/users' %>
	</div>

	<div id="main">
	
	<h1>Welcome to <%= APP_NAME %></h1>
	<p id="strapline">How can creators and users of public services gain<br />from our increasingly connected world?</p>
	
		<%= render :partial => 'home/current_feature' if @current_featured %>

		<%= render :partial => 'home/recent_activity' %>
	</div>

	<%= clear_this %>
	
</div>