<% @current_tab = :home %>

<div id="frontPage">
	
	<h1>Welcome to <%= APP_NAME %></h1>

	<div id="sidebar">
		<%= render :partial => 'recent_features' %>
		
		<div id="subscribe">
		  <h2>Subscribe</h2>
		  <p><a href="<%= formatted_posts_url(:format => :rss) %>" class="rss">All postings</a></p>
		  <p><a href="<%= formatted_featured_posts_url(:format => :rss) %>" class="rss">Featured postings only</a></p>
		</div>
		<%= render :partial => 'home/users' %>
	</div>

	<div id="main">
		<%= render :partial => 'home/current_feature' if @current_featured %>
		<%= render :partial => 'home/recent_activity' %>
	</div>

	<%= clear_this %>
	
</div>