<div id="frontPage">
<% @current_tab = :home %>
<h1>Welcome to The Connected Republic</h1>

	
<div id="sidebar">

	<div id="recentlyFeatured">
	<h2>Recent features</h2>
	  <% for post in @posts[1..5] %>
	    <div class="post">
	        <p class="avatar">
	            <%= link_to_avatar_for(post.user, :tiny) %>
	        </p>
	        <div class="postContent">
	            <h2><%= link_to post, post %> <span class="date"><%if post.created_at==post.updated_at%>created <%= time_ago_in_words(post.created_at) %> ago<%else%>last updated <%= time_ago_in_words(post.updated_at) %> ago<%end%></span></h2>
	        </div>
	    </div>
	    <% end%>

	</div>
	
	
   <h2>Contributors</h2>

         <% for user in @users[0..2] %>


							
										<div id="authorBlock">
											<h2><%= link_to_user(user) %></h2>
											<p class="avatar">
										    <%= link_to_avatar_for(user, :medium) %>
										  </p>
											<% unless user.profile_text.blank? %>
												<p><%= truncate(user.profile_text, 200) %> <%= link_to("More about #{user}", user_url(user)) %></p>
											<% end %>
											<div class="clearThis"> </div>
										</div>
										
										
       <% end %>

</div>

<div id="main">
		<h2>Current feature</h2>
   <div class="post">
       <p class="avatar">
           <%= link_to_avatar_for(@post.user, :medium) %>
       </p>
       <div class="postContent">
           <h2><%= link_to @post, @post %> <span class="date"><%if @post.created_at==@post.updated_at%>created <%= time_ago_in_words(@post.created_at) %> ago<%else%>last updated <%= time_ago_in_words(@post.updated_at) %> ago<%end%></span></h2>
					 <%= detail_format(@post.detail) %>
					
						<% if @post.topics.size>0 %><p class="topics">posted in
							<% for topic in @post.topics %>
								<%= link_to topic, topic, :class => "topic" %>
							<% end %></p>
						<%end %>
       </div>
   </div>
    

	
	<h2>Recent activity</h2>
    <div class="events">

        <ul>
         <% for event in @events %>
             <%= render :partial => "events/event", :locals => { :event => event } %>
         <% end %>
        </ul>

    </div>

</div>

<div class="clearThis"> </div>

</div>