<% @current_tab = :home %>

<div id="frontPage">
	
	<h1>Welcome to <%= APP_NAME %></h1>

	<div id="sidebar">
		<%= render :partial => 'recent_features' %>
		<%= render :partial => 'home/users' %>
	</div>

	<div id="main">
		<%= render :partial => 'home/current_feature' if @current_featured %>
		<%= render :partial => 'home/recent_activity' %>
	</div>

	<%= clear_this %>
	
</div>