<% @current_tab = :home %>

	<div id="sidebar" class="grid_5 alpha">

    <div id="largeDescription">
      <h1>Open Studio</h1>
      <p>Open Studio is an interactive project run by the Department of Architecture at the University of Westminster to make its design, research and practice-based work available online while it is happening.</p>
      <p>The site acts as a 'real time' teaching and learning environment in which staff and students run a series of blogsites&mdash;each of them based on the work of its design studios, or its other teaching and research groups and workshops&mdash;and all of which experiment with innovative forms of education technology.</p>
      
    </div>
    <p><%= link_to "View all Studios", groups_path %></p>
    <p><%= link_to "More about the school of architecture", 'http://www.westminster.ac.uk/sabe' %></p>

	  <div id="subscribe">
      <p><a href="<%= formatted_featured_posts_url(:format => :rss) %>" class="rss">Subscribe to just the features</a></p>
      <p><a href="<%= formatted_posts_url(:format => :rss) %>" class="rss">Subscribe to all posts</a></p>
    </div>
	</div>

<div id="main" class="grid_11 omega">

		<a href="<%= post_path(@latestFeaturedImage.post) %>" id="featureImage">
		  <%= image_tag_for(@latestFeaturedImage, :contact) %>
		</a>
		<div class="featureDescription">
		  <h2><%= link_to @latestFeaturedImage.post.title, @latestFeaturedImage.post %></h2>
		  <p>by <%= link_to @latestFeaturedImage.post.group, @latestFeaturedImage.post.group %></p>
		  <div class="text"><%= truncate(@latestFeaturedImage.post.text, 160) %></div>
		</div>

	  <%= render :partial=>'groups/image', :collection=>@otherFeaturedImages %>

    <div class="clearThis"> </div>
    <div id="featuredTexts" class="posts">
      <h2>More featured work by various studios</h2>
      <%= render :partial=>'groups/post', :collection=>@featured_posts %>
      <%= clear_this %>
    </div>

	</div>

	<%= clear_this %>
	
