<% @current_tab = :home %>

	<div id="sidebar">

    <div id="largeDescription">
      <p>Open Studio is an online exhibition of work by the students of Architecture at the University of Westminster.</p>

      <p>This online archive is a collection of work from undergraduate and postgraduate courses as well as research collectives.</p>
      <p>For more information about architecture at the University Westminster visit <%= link_to nil, 'http://www.westminster.ac.uk/sabe' %></p>
    </div>

	  <div id="subscribe">
      <p><a href="<%= formatted_featured_posts_url(:format => :rss) %>" class="rss">Subscribe to just the features</a></p>
      <p><a href="<%= formatted_posts_url(:format => :rss) %>" class="rss">Subscribe to all posts</a></p>
    </div>
	</div>

	<div id="main">
	
  	<h1>Open Studio</h1>
  	<p id="strapline"><%= APP_NAME %></p>
		<div class="images">
		<% for image in @images%>
		  <%= link_to image_tag(image.src, :width=>64, :height=>64), image.post %>
		<% end %>
		</div>
    <%= render :partial => 'home/current_feature' if @current_featured %>
  
    	<%= render :partial => 'home/recent_features' %>
    <h2>Popular Tags</h2>
    <div class="tagCloud">
  	  <%= render :partial=>'tags/tag_cloud'%>
  	  <p class="more"><%= link_to "View more tags", tags_url %></p>
    </div>

	</div>

	<%= clear_this %>
	
