<% @current_tab = :home %>

<div id="frontPage">
	
	<h1>Welcome to <%= APP_NAME %></h1>

    <div id="missionStatement">
            <p id="strapline">How can creators and users of public services gain from our increasingly connected world?</span>
			<p>The Connected Republic, initiated by Cisco's Internet Business Solutions Group, is a community space where people with ideas can meet, share their thinking and link up with each other</p>
    </div>
	<div id="sidebar">
		<%= render :partial => 'recent_features' %>
		<%= render :partial => 'home/users' %>
	</div>

	<div id="main">
		<%= render :partial => 'home/current_feature' if @current_featured %>
		<%= render :partial => 'home/recent_activity' %>
	</div>

	<%= clear_this %>
	
</div>