<% @current_tab = :home %>

	<div id="sidebar">

    <div id="largeDescription">
      <h1>Open Studio</h1>
      <p>Open Studio is an online exhibition of work by the students of Architecture at the University of Westminster.</p>

      <p>This online archive is a collection of work from undergraduate and postgraduate courses as well as research collectives.</p>
      
    </div>
    <p><%= link_to "More information...", 'http://www.westminster.ac.uk/sabe' %></p>

	  <div id="subscribe">
      <p><a href="<%= formatted_featured_posts_url(:format => :rss) %>" class="rss">Subscribe to just the features</a></p>
      <p><a href="<%= formatted_posts_url(:format => :rss) %>" class="rss">Subscribe to all posts</a></p>
    </div>
	</div>

	<div id="main">

		<% for image in @latestFeature %>
  		<a href="<%= post_path(image.post) %>" id="featureImage">
  		  <%= image_tag_for(image, :contact) %>
  		</a>
  		<div class="featureDescription">
  		  <h2><%= link_to image.post.title, image.post %></h2>
  		  <p>work by studio <%= link_to image.post.group, image.post.group %></p>
  		</div>
  		
  	<% end %>
		<% for image in @featured %>
    	<a href="<%= post_path(image.post) %>" class="imageStripImage">
        <%= image_tag_for(image, :large_square) %>
        <span class="label">
          <span class="title"><%= image.post.title %></span>
        </span>  
      </a>
    <% end %>
    <div class="clearThis"> </div>
    <h2>Popular Tags</h2>
    <div class="tagCloud">
  	  <%= render :partial=>'tags/tag_cloud'%>
  	  <p class="more"><%= link_to "View more tags", tags_url %></p>
    </div>

	</div>

	<%= clear_this %>
	
