<% @current_tab = :home %>


	


	<div id="sidebar">


    <div id="largeDescription">
      <p>The School of Architecture is loacted in central London and has 1800 students with around 90 permanent teaching and research staff.</p>

      <p>Programmes are at both undergraduate and postgraduate levels and operate both full and part time. The School is heavily committed to professional, consultancy and research activities.</p>
    </div>

	  <div id="subscribe">
      <p><a href="<%= formatted_featured_posts_url(:format => :rss) %>" class="rss">Subscribe to just the features</a></p>
      <p><a href="<%= formatted_posts_url(:format => :rss) %>" class="rss">Subscribe to all posts</a></p>
    </div>
	</div>

	<div id="main">
	
	<h1>Open Studios</h1>
	<p id="strapline"><%= APP_NAME %></p>
  <%= render :partial => 'home/current_feature' if @current_featured %>
  
  	<%= render :partial => 'home/recent_features' %>
  <h2>Popular Tags</h2>
  <div class="tagCloud">
	  <%= render :partial=>'tags/tag_cloud'%>
	  <p class="more"><%= link_to "View more tags", tags_url %></p>
  </div>

		<%= render :partial => 'home/recent_activity' %>
	</div>

	<%= clear_this %>
	
