<% content_tag_for(:li, event, :class => "eventPostChanged") do %>
	<% unless @hide_user_in_events %>
		<div class="author">
		    <%= link_to_avatar_for(event.user, :tiny) %>
		</div>
	<% end %>
	<div class="eventBody">
	  <p class="details">
	    <% unless @hide_user_in_events %>
				<%= link_to_user(event.user) %>
			<% end %> 
			<% if event.detail && event.detail.post.has_attachment? %>
    	  edited a PDF file:
			<% elsif event.detail && event.detail.post.has_video? %>
				edited a video: 
    	<% else %>
        edited
			<% end %> 
			
			<% if event.detail %>
			    <% if event.detail.post.has_attachment? %>
        	  <%= link_to(h(event.detail.post.title), event.detail.post, :class => "file") %>
        	<% elsif event.detail.post.has_video? %> 
        	  <%= link_to(h(event.detail.post.title), event.detail.post, :class => "video") %>
        	<% else %>
            <%= link_to(h(event.detail.post.title), event.detail.post) %> 
    			<% end %>
    			
			<% else %>
					a post which has since been deleted.
			<% end %>
	    <span class="time"><%= time_ago_in_words(event.created_at) %> ago.</span>
	  </p>
	  
	  <div class="commentBody">
			<% if event.detail %>
	      <%= event.detail.post.brief %>
			<% end %>
    </div>

	 </div>
<% end %>