<% content_tag_for(:li, event, :class => "eventPostCreated") do %>
	<div class="author">
	    <%= link_to_avatar_for(event.user, :tiny) %>
	</div>
	<div class="eventBody">
	  <p class="details">
	    <%= h(event.user) %> created <%= link_to(h(event.detail.title), event.detail) %> 
	    <span class="time"><%= time_ago_in_words(event.created_at) %> ago.</span>
	  </p>
	  
	     <div class="commentBody">
      <%= detail_format(event.detail.brief) %>
    </div>

	 </div> 
<% end %>