<% content_tag_for(:li, event, :class => "eventPostCreated") do %>
	<% if !@user %> 
    <div class="author">
	    <%= link_to_avatar_for(event.user, :tiny) %>
		</div>
	<% end %>
	
	<div class="eventBody">
	  <p class="details">
	    <% if !@user %><%= link_to_user(event.user) %><% end %> created 
			<% if event.detail %>
					<%= link_to(h(event.detail.title), event.detail) %> 
			<% else %>
					a post which has since been deleted.
			<% end %>
	    <span class="time"><%= time_ago_in_words(event.created_at) %> ago.</span>
	  </p>
	  
	     <div class="commentBody">
		<% if event.detail %>
      <%= event.detail.brief %>
		<% end %>
    </div>

	 </div> 
<% end %>