<div id="settings">

		<%= render :partial => 'settings/header' %>
		
		<div id="main">		
				<%= error_messages_for(:user) %>

			  <% form_for @user, :url => settings_url do | f | %>

			    <p>
			      <%= f.label :home_page, "Your home page" %>
			      <%= f.text_field :home_page, :class => "largeInput" %>
			    </p>
	
			    <p>
			      <%= f.label :profile_text, "Text for your profile, e.g. Bio" %>
			      <%= f.text_area :profile_text, :class => "largeInput" %>
			    </p>

			    <p class="submitBlock">
			      <%= submit_tag "Save changes" %>
			    </p>
			  <% end %>
		</div>
</div>

<div class="clearThis"> </div>
