<div id="settings">

	<%= render :partial => 'settings/header' %>
		
	<div id="main" class="grid_11 omega">		
			<%= error_messages_for(:user) %>

		  <% form_for @user, :url => password_settings_url do | f | %>

		    <p>
		      <%= f.label :password, "Your new password" %>
		      <%= f.password_field :password, :class => "largeInput" %>
		    </p>

		    <p class="submitBlock">
		      <%= submit_tag "Save Password" %>
		    </p>
		  <% end %>
	</div>
</div>

<%= clear_this %>
