		<div id="settings">

<h1><%= @page_title = "Your Settings"  %></h1>

<div id="sidebar">
  
	<ul class="settings">
		<li><%= link_to "Bio", bio_settings_url %></li>
		<li><%= link_to "Picture", picture_settings_url %></li>
		<li class="current"><%= link_to "User name and email", username_email_settings_url %></li>
	</ul>
</div>
		
<div id="main">		
		<%= error_messages_for(:user, :object => @user.avatar ? [@user.avatar, @user] : @user ) %>

				<h2>Your User Name and Email</h2>
			  <% form_for @user, :url => settings_url do | f | %>

			    <p>
			      <%= f.label :login, "Your user name" %>
			      <%= f.text_field :login, :class => "largeInput" %>
			    </p>

			    <p>
			      <%= f.label :email %>
			      <%= f.text_field :email, :class => "largeInput" %>
			    </p>
			
			    <p class="submitBlock">
			      <%= submit_tag "Update your account" %>
			    </p>
			  <% end %>

</div>
		</div>
<div class="clearThis"> </div>
