<div id="settings">

	<%= render :partial => 'settings/header' %>
		
	<div id="main">		
			<%= error_messages_for(:user) %>

		  <% form_for @user, :url => settings_url do | f | %>

		    <p>
		      <%= f.label :login, "Your user name" %>
		      <%= f.text_field :login, :class => "largeInput" %>
		    </p>

		    <p>
		      <%= f.label :email %>
		      <%= f.text_field :email, :class => "largeInput" %>
		    </p>
	
		    <p class="submitBlock">
		      <%= submit_tag "Update your account" %>
		    </p>
		  <% end %>
	</div>
</div>

<%= clear_this %>
