
<h1><%= @page_title = "Edit tag: #@tag" %></h1>
		
<div id="main" class="grid_11 omega">

        <div id="main" class="grid_11 omega">     
	            <%= error_messages_for(:tag) %>

              <% form_for @tag, :url => tag_url do | f | %>
							
								<p>
									<%= f.label :name %>
									<%= f.text_field :name %>
								</p>

                <p>
                  <% if @tag.description.blank? %>
                      <%= f.label :description, "Add a description" %>
                  <% else%>
                      <%= f.label :description, "Edit description" %>
                  <% end%>
                  <%= f.text_area :description, :class => "largeInput" %>
                </p>
    

                <p class="submitBlock">
                  <%= submit_tag "Update description" %> or <%= link_to "Cancel", @tag %>
                </p>
              <% end %>
        </div>


</div>
<%= clear_this %>