


<div id="sidebar">
	<%= link_to %Q{Start a new posting in "#{@tag}"}, new_post_url(:tag => @tag.id), :id => :newContent %>
</div>

<div id="main">
	
	<div id="tagDescription">
		<h1><%= @page_title = @tag %> <span class="count"><%= pluralize(@tag.posts.count, "article") %></span></h1>

		<% if @tag.description.blank? %>
		   <p class="tinyOption"><%= link_to  "Add a description", edit_tag_url  %></p>
		<% else  %>
		   <%= @tag.description %>
		   <p class="tinyOption"><%= link_to "Edit description", edit_tag_url  %><p>
		<% end %>
		
		
	</div>
	
	<div class="posts">
		<% for post in @tag.posts.sorted_by_created_at %>
			<div class="post">
				<p class="avatar">
					<%= link_to_avatar_for(post.user, :medium) %>
					<span class="author"><%= link_to_user(post.user) %>
				</p>
				<div class="postContent">
					<h2><%= link_to h(post), post %> 
						<span class="date">
							<%= when_changed(post) %>
						</span>
					</h2>
					<p><%= post.brief %></p>
				</div>
			</div>
		<% end %>
	</div>
</div>
<%= clear_this %>