


<div id="sidebar">
	<p id="newContent"><%= link_to %Q{New posting with this tag}, new_post_url(:tag => @tag.id), :id => :newContent %></p>
	<div class="tagCloud">
	  <h2>Popular Tags</h2>
	  <%= render :partial=>'tags/tag_cloud'%>
	  <p class="more"><%= link_to "View more tags", tags_url %></p>
  </div>
</div>

<div id="main">
	
	<div id="tagDescription">
		<h1><%= @page_title = @tag %> <span class="count"><%= pluralize(@tag.posts.count, "article") %></span></h1>

		<% if !@tag.description.blank? %>
		<p><%=@tag.description %></p>
		<% end %>
		<p class="tinyOption"><%= link_to(@tag.description.blank? ? "Add a description" : "Edit description", edit_tag_url) if logged_in? %></p>
	</div>
	
	<div class="posts">
		<% for post in @tag.posts.sorted_by_created_at %>
			<div class="post">
				<p class="avatar">
					<%= link_to_avatar_for(post.author, :medium) %>
					<span class="author"><%= link_to_user(post.author) %></span>
				</p>
				<div class="postContent">
						<h2><%= link_to h(post), post %></h2>
						<p class="meta">
							<span class="date">
								<% if post.created_at==post.updated_at%>
									created <%= time_ago_in_words(post.created_at) %> ago,
								<% else %>
									last updated 
									<%= time_ago_in_words(post.updated_at) %> ago,
								<% end %>
							</span>
							<span class="commentCount">
							<%= pluralize(post.comments.count, "Comment") %>
							</span>
						</p>
						<p><%= post.brief %></p>

						<% unless post.tags.empty? %>
							<p class="tags">posted in
							<% for tag in post.tags %>
								<%= link_to tag, tag, :class => "tag" %>
							<% end %></p>
						<%end %>
				</div>
			</div>
		<% end %>
	</div>
</div>
<%= clear_this %>