<li class="feed <%= rss_feed.has_problem? ? "feed-problem": ""%>">
  <p>
  	  <strong><%if @group.nil?%><%= link_to(rss_feed.group, group_url(rss_feed.group))%><br />Feed: <% end %>
      <%= h(rss_feed.url)%></strong>
      [<%= link_to 'link', rss_feed.url%>]
	</p>
  <p class="error"><% if !rss_feed.error_message.nil? && ! rss_feed.error_message.empty?%>
       <strong>Last fetch gave error: <%= rss_feed.error_message%></strong>
     <% end %>
 </p>
  <p>
  <% if rss_feed.last_fetched.nil? %>
     <em>Never fetched.</em>
  <% else %>
    <em>Last fetched <%= time_ago_in_words(rss_feed.last_fetched)%> ago.</em>
  <% end %>
  
  <% if rss_feed.next_fetch.nil?%>
  Should be fetched for first time very soon. 
  <% else %>
    Next fetch 
     <%= rss_feed.next_fetch>Time.now ? 'will be in' : 'should have been' %> 
     <%= time_ago_in_words(rss_feed.next_fetch) %>
     <%= rss_feed.next_fetch>Time.now ? '' : ' ago'%>
     <% if rss_feed.next_fetch>Time.now %>
       <%= link_to 'Fetch Sooner', fetch_sooner_group_rss_feed_path(@group, rss_feed), :method=>:post %>
     <% end %>
     
   <% end %>
 </p>
   
  <%if !@group.nil?%>
	   <p><%= link_to "Remove", group_rss_feed_path(@group, :id=>rss_feed),:method => :delete%></p>
	<% end %>
</li>
