 <div id="sidebar" class="grid_5 alpha">
  <div id="largeDescription">
    <p>You can add multiple RSS Feeds. Any new content will be fetched regularly and added to the group.</p>
  </div>
  <p>Back to the group <%= link_to @group, @group %></p>
</div>  

<div id="main" class="grid_11 omega">
  <h1 class="header">RSS Feeds for <%= link_to @group, @group %></h1>
  <div class="paddedSection">
    <% if @group.rss_feeds.empty?%>
      <p><%=@group%> has no feeds</p>
    <% else %>
    	<ul id="feeds">
    	<%= render :partial=>'rss_feed', :collection=>@group.rss_feeds %>
    	</ul>
    <% end %>

    <h2>Add a new RSS feed:</h2>
    <% form_for @rss_feed, :url=> group_rss_feeds_path do | f | %>
    
        <p>
          <%= f.label :url, "URL (including http://)" %>
          <%= f.text_field :url %>
        </p>
    		<p><%= submit_tag 'Add'%></p>
    <% end %>

  </div>
</div>