<div class="authorBlock">
	<h2><% if @post.group == NIL %>by<% end %> <%= link_to_user(@post.author) %></h2>
	<p class="avatar">
    <%= link_to_avatar_for(@post.author, :medium) %>
  </p>
	<% unless  @post.author.profile_text.blank? %>
		<p><%= truncate(@post.author.profile_text, :length => 200) %> <%= link_to("...more about #{@post.author}", url_for(@post.author)) %></p>
	<% end %>
	<%= clear_this %>
</div>
