<div id="authorBlock">
	<h2>by <%= link_to_user(@post.user) %></h2>
	<p class="avatar">
    <%= link_to_avatar_for(@post.user, :medium) %>
  </p>
	<% unless  @post.user.profile_text.blank? %>
		<p><%= truncate(@post.user.profile_text, 200) %> <%= link_to("More about #{@post.user}", user_url(@post.user)) %></p>
	<% end %>
	<%= clear_this %>
</div>
