<div id="commentForm">

  <% if logged_in? && current_user.may_contribute? %>
      <% form_for [ @post, @comment ] do | f | %>
        <%= f.error_messages %>
  
        <p>
          <%= f.label :body, "Add a comment / reply" %>
          <%= f.text_area :body, :rows => 6, :class => "mceEditor" %>
        </p>
        <p>
            <%= submit_tag "Post this comment" %>
        </p>
      <% end %>
  <% else %>
    <div class="loginRequired">
			<p><%= link_to "Login to #{@post.comments.count>0 ?'add your view':'start this discussion off.'}", login_url(:return_to=>post_path(@post, :anchor=>'commentForm')), :class=>'button'%>
	    </p>
			<p>
		 	No account yet? <%= link_to "Join now", signup_url(:return_to=>post_path(@post, :anchor=>'commentForm')) %> - it's quick and easy.
			</p>
		</div>
  <% end %>
</div>
<script language="JavaScript">
	//<![CDATA[
  function selectCommentForm(){
<% if logged_in? && current_user.may_contribute? %>
  	tinyMCE.get('comment_body').focus();
  	$('comment_body_ifr').scrollIntoView();
<% else %>
    document.location = '<%= post_url(@post, :anchor=>'commentForm')%>';
<% end %>
  	return void (0);
  }
	 //]]>
	</script>
