<div id="comments">
<h2>Comments</h2>
	<% for comment in @post.comments %>
			<div class="comment">
				<p class="avatar">
					<%= link_to_avatar_for(comment.user, :medium) %>
					<span class="author"><%= link_to_user(comment.user) %></span>
				</p>
				
				<div class="postContent">
					
					<%= comment.body %>
					<p class="meta">
						<span class="date">posted <%= time_ago_in_words(comment.created_at) %> ago</span><% if logged_in_as_admin? %> <%= link_to("Delete", post_comment_url(@post, comment), :class => "option", :method => :delete, :confirm => "Are you sure you'd like to delete this comment?")  %><% end %>
					</p>
				</div>
				
			</div>
	<% end %>
</div>
