<div id="comments">
<h2>Comments</h2>
	<% for comment in @post.comments %>
			<div class="comment">
				<p class="avatar">
					<%= link_to_avatar_for(comment.user, :medium) %>
					<span class="author"><%= link_to_user(comment.user) %></span>
				</p>
				
				<div class="postContent">
					
					<%= comment.body %>
					<p class="meta">
            <% if comment.created_at < comment.updated_at%>
						    <span class="date">updated <%= time_ago_in_words(comment.updated_at) %> ago</span>,
            <% end %>
              <span class="date">posted <%= time_ago_in_words(comment.created_at) %> ago</span> 
            <%= link_to("Edit", edit_post_comment_url(@post, comment), :class => "option")   if logged_in? && current_user == comment.user %>
			  		<%= link_to("Delete", post_comment_url(@post, comment), :class => "option", :method => :delete, :confirm => "Are you sure you'd like to delete this comment?")  if logged_in_as_admin? %>
					</p>
				</div>
				
			</div>
	<% end %>
</div>
