<% form_for @post, :html => { :multipart => true } do | f | %>

	<%= error_messages_for(:post, :object => @post.attachment ? [@post.attachment, @post] : @post ) %>

  <% if @upload %>
	  <p class="fileUpload">
	    <label>Select File to upload</label>
	    <%= f.file_field :post_attachment %> 
	  </p>
	<% end %>
	
	<p>
	  <%= f.label :title, "Title for this post" %>
    <%= f.text_field :title, :class => "largeInput" %>
  </p>

	<p>
	  <%= f.label :detail, @upload ? "Description" : "Post text" %>
    <%= f.text_area :detail, :class => "mceEditor" %>
  </p>

	<%= hidden_field_tag(:tag, @initial_tag.id) if @initial_tag  %>
	<%= hidden_field_tag(:upload, @upload) if @upload %>

  <p class="submitBlock">
    <%= submit_tag  'Save post', :disable_with => "Saving..." %> or <%= link_to "Cancel", @post.new_record? ? posts_url : @post %>
  </p> 

<% end %>