<p class="meta">
   <%if post.featured?%>
     <strong>Featured</strong>. 
   <%end%>
    <% if post.has_attachment? %>
      <span class="author">PDF uploaded by <%= link_to_user(post.user) %></span>
    <% elsif post.has_video? %> 
      <span class="author">Video shared by <%= link_to_user(post.user) %></span>
    <%else%> 
      <span class="author">Posting written by <%= link_to_user(post.user) %></span>
    <%end%>
    
    <span class="date">
      <!--<%if !post.has_attachment? && !post.has_video?%>created<%end%>-->
      <%= time_ago_in_words(post.created_at) %> ago.
    </span>
  
	  <% if post.comments.empty? %>
      <span class="commentCount">No comments yet.</span>
    <% else %>
      <br />
			<span class="date">
	      Last comment <%= time_ago_in_words(post.commented_at) %> ago,
	      </span>
      <span class="commentCount">
       <%= link_to pluralize(post.comments.count, "Comment"), post_path(post, :anchor=>"comments") %>.
      </span> 
    <% end %>

</p>
  