<%
  # Parameters: with_controls = false
  with_controls = local_assigns[:with_controls]
%>
<p class="meta">
   <%if post.featured?%>
     <strong>Featured</strong>. 
   <%end%>
    <% if post.has_attachment? %>
      <span class="author">PDF uploaded by <%= link_to_user(post.user) %></span>
    <% elsif post.has_video? %> 
      <span class="author">Video shared by <%= link_to_user(post.user) %></span>
    <%else%> 
      <span class="author">Posting written by <%= link_to_user(post.user) %></span>
    <%end%>
    
    <span class="date">
      <!--<%if !post.has_attachment? && !post.has_video?%>created<%end%>-->
      <%= time_ago_in_words(post.created_at) %> ago.
    </span>
  
	  <% if post.comments.empty? %>
      <span class="commentCount">No comments yet.</span>
    <% else %>
      <br />
			<span class="date">
	      Last comment <%= post.commented_at ? time_ago_in_words(post.commented_at) : 'some time' %> ago,
	      </span>
      <span class="commentCount">
       <%= link_to pluralize(post.comments.count, "Comment"), post_path(post, :anchor=>"comments") %>.
      </span> 
    <% end %>
    <% if with_controls %>
		  <%= link_to("Edit post", edit_post_url(post), :class => "option") if logged_in? && current_user == post.user %> 
      <%= link_to("Delete post", post_url(post), :class => "option", :method => :delete, :confirm => "Are you sure you'd like to delete this post?") if logged_in_as_admin? %>
		<% end %> 
</p>
  