<div class="posts">
	<%= will_paginate(@posts, :prev_label => "Newer", :next_label => "Older", :inner_window => 2) if params[:page] %>
	<% for post in @posts %>
		<div class="post">
			<p class="avatar">
				<%= link_to_avatar_for(post.user, :medium) %>
			</p>
			<div class="postContent">
					<h2>
						 <% if post.attachment %>
                <%= link_to h(post), post, :class => "file" %></h2>
						<%else %>
                <%= link_to h(post), post %></h2>
						 <% end%>
					<p class="meta">
						<% if post.attachment %>
              <span class="author">uploaded by <%= link_to_user(post.user) %></span>
							<span class="date">
		              <%= time_ago_in_words(post.created_at) %> ago,
								</span>
            <%else%> 
              <span class="author">by <%= link_to_user(post.user) %>,</span>
						<span class="date">
		        <% if post.created_at==post.updated_at%>
								created <%= time_ago_in_words(post.created_at) %> ago,
							<% else %>
								last updated 
							<%= time_ago_in_words(post.updated_at) %> ago,
							<% end %>
						</span>
						<%end%>
						<span class="commentCount">
						<%= pluralize(post.comments.count, "Comment") %>
						</span>
					</p>
					<p><%= post.brief %></p>
				
					<% unless post.tags.empty? %>
						<p class="tags">posted in
						<% for tag in post.tags %>
							<%= link_to tag, tag, :class => "tag" %>
						<% end %></p>
					<%end %>
			</div>
		</div>
	<% end %>
</div>	

<%= will_paginate @posts, :prev_label => "Newer", :next_label => "Older", :inner_window => 2 %>
