<div class="posts">
	<%= will_paginate(@posts, :prev_label => "Newer", :next_label => "Older", :inner_window => 2) if params[:page] %>
	<% for post in @posts %>
		<div class="post">
			<p class="avatar">
				<%= link_to_avatar_for(post.user, :medium) %>
			</p>
			<div class="postContent">
					<h2<% if post.has_attachment? %> class="file"<% elsif post.video_embed_tags %> class="video"<%end%>>
          		<%= link_to h(post), post %>
          </h2>
						 
					<p class="meta">
						<% if post.has_attachment? %>
              <span class="author">PDF uploaded by <%= link_to_user(post.user) %></span>
							<span class="date">
		              <%= time_ago_in_words(post.created_at) %> ago,
								</span>
            <% elsif post.video_embed_tags %> 
              <span class="author">Video shared by <%= link_to_user(post.user) %>,</span>
            <%else%> 
              <span class="author">by <%= link_to_user(post.user) %>,</span>
            <%end%>
						<span class="date">
		        <% if post.created_at==post.updated_at%>
								created <%= time_ago_in_words(post.created_at) %> ago,
							<% else %>
								last updated 
							<%= time_ago_in_words(post.updated_at) %> ago,
							<% end %>
						</span>
						
						<span class="commentCount">
						  <%= link_to pluralize(post.comments.count, "Comment"), post %>
						</span>
					</p>
					
					<p><%= post.brief %>
					
					<% if post.video_embed_tags %>
        	  <span class="watch">
        	    <%= link_to "Watch video", post %>
        	  </span>
        	<% end %>
        	
        	</p>
				
					<% unless post.tags.empty? %>
						<p class="tags">posted in
						<% for tag in post.tags %>
							<%= link_to tag, tag, :class => "tag" %>
						<% end %></p>
					<%end %>
			</div>
		</div>
	<% end %>
</div>	

<%= will_paginate @posts, :prev_label => "Newer", :next_label => "Older", :inner_window => 2 %>
