<div class="posts">
	<%= will_paginate(@posts, :prev_label => "Newer", :next_label => "Older", :inner_window => 2) if params[:page] %>
	<% for post in @posts %>
		<div class="post">
			<p class="avatar">
				<%= link_to_avatar_for(post.user, :medium) %>
				<span class="author"><%= link_to_user(post.user) %>
			</p>
			<div class="postContent">
					<h2><%= link_to h(post), post %></h2>
					<p class="meta">
						<span class="date">
							<% if post.created_at==post.updated_at%>
								created <%= time_ago_in_words(post.created_at) %> ago,
							<% else %>
								last updated 
								<%= time_ago_in_words(post.updated_at) %> ago,
							<% end %>
						</span>
						<span class="commentCount">
						<%= pluralize(post.comments.count, "Comment") %>
						</span>
					</p>
					<p><%= post.brief %></p>
				
					<% unless post.tags.empty? %>
						<p class="tags">posted in
						<% for tag in post.tags %>
							<%= link_to tag, tag, :class => "tag" %>
						<% end %></p>
					<%end %>
			</div>
		</div>
	<% end %>
</div>	

<%= will_paginate @posts, :prev_label => "Newer", :next_label => "Older", :inner_window => 2 %>
