<% form_for @post do | f | %>
  <%= f.error_messages %>
  
  <p class="fileUpload">
    <label>Select File to upload</label>
    <input type="file" />
  </p>
	<p>
	  <%= f.label :title, "Title for this post" %>
    <%= f.text_field :title, :class => "largeInput" %>
  </p>

	<p>
	  <%= f.label :detail, "Description" %>
    <%= f.text_area :detail, :class => "mceEditor" %>
  </p>

	<%= hidden_field_tag(:tag, @initial_tag.id) if @initial_tag  %>

  <p class="submitBlock">
    <%= submit_tag  'Save post', :disable_with => "Saving..." %> or <%= link_to "Cancel", @post.new_record? ? posts_url : @post %>
  </p> 

<% end %>
