<% @current_tab = :posts %>
<h1><%= @page_title = "Lastest articles, postings and discussions" %></h1>
		
<div id="sidebar">
	<%= link_to "Start a new posting", new_post_url, :id=>"newContent" %>
</div>
  <div id="main">

		<div class="posts">
			<% for post in @posts %>
				<div class="post">
					<p class="avatar">
						<%= link_to_avatar_for(post.user, :medium) %>
						<span class="author"><%= link_to_user(post.user) %>
					</p>
					<div class="postContent">
						<h2><%= link_to post, post %> <span class="date"><%= time_ago_in_words(post.created_at) %> ago</span></h2>
						<p><%= post.brief %></p>
						
						<p class="topics">posted in
							<% for topic in post.topics %>
								<%= link_to topic, topic, :class => "topic" %>
							<% end %>
						</p>
					</div>
					
					
				</div>
			<% end %>
		</div>
  </div>
<div class="clearThis"> </div>