<% @page_title = "Content" %>
<% @current_tab = :posts %>

<div id="sidebar">
	<%= link_to "New Post", new_post_url %>
</div>
  <div id="main">
		<h1>All Posts</h1>
		<div class="posts">
			<% for post in @posts %>
				<div class="post">
					<div class="postDetails">
						<p class="avatar"><%= avatar_for(post.user, :medium) %></p>
						<p>
							<span class="author"><%= link_to_user(post.user) %></span>
						</p>
					</div>
					<div class="postContent">
						<h2><%= link_to post, post %></h2>
						<p><%= post.brief %></p>
						<p><span class="date">posted <%= time_ago_in_words(post.created_at) %> ago</span></p>
					</div>
				</div>
			<% end %>
		</div>
  </div>
<div class="clearThis"> </div>