<% @current_tab = :discussions %>
<h1><%= @page_title = "All postings and discussions" %></h1>
		
<div id="sidebar">
	<div id="missionStatement">
    <p>All discussions are started by members of <%= link_to "the Connected Republic community", :controller=>'users'%>. The ones with the latest comments are shown first.</p>
    <p><%=link_to "Start your own discussion", :action=>'new'%> by writing some text, 
		or by sharing a pdf file (article or whitepaper) or an online video.</p>
	</div>
	<div class="tagCloud">
    <h2>Popular Tags</h2>
	  <%= render :partial=>'tags/tag_cloud'%>
	  <p class="more"><%= link_to "View more tags", tags_url %></p>
  </div>
  <%=render :partial=>'posts/subscription' %> 
</div>

<div id="main">
	<%= render :partial => 'posts/post_list' %>
</div>
<%= clear_this %>