<% @current_tab = :discussion %>
<h1><%= @page_title = "Lastest articles, postings and discussions" %></h1>
		
<div id="sidebar">
	<div id="missionStatement">
    <p>All discussions are started by members of <%= link_to "the Connected Republic community", :controller=>'users'%>. The ones with the latest comments are shown first.</p>
    <p><%=link_to "Start your own discussion", :action=>'new'%> by writing some text, or sharing an article or whitepaper (a pdf file) or a video.</p>
	</div>
  <%=render :partial=>'posts/subscription' %> 
</div>

<div id="main">
	<%= render :partial => 'posts/post_list' %>
</div>
<%= clear_this %>