<% @current_tab = :posts %>
<h1><%= @page_title = "Lastest articles, postings and discussions" %></h1>
		
<div id="sidebar">
  <p id="newContent"><%= link_to "Start a new posting", new_post_url %></p>
	
	<div id="subscribe">
	  <h2>Subscribe</h2>
	  <p><a href="<%= formatted_posts_url(:format => :rss) %>" class="rss">Subcribe to all postings</a></p>
	  <p><a href="<%= formatted_featured_posts_url(:format => :rss) %>" class="rss">Subcribe to featured postings</a></p>
	</div>
	
	<div>
	  <p class="featuredSelet"><%= link_to "Show only featured postings", featured_posts_url %></p>
	</div>
</div>

<div id="main">
	<%= render :partial => 'posts/post_list' %>
</div>
<%= clear_this %>