<% @current_tab = :posts %>
<h1><%= @page_title = "Lastest articles, postings and discussions" %></h1>
		
<div id="sidebar">
	<%= link_to "Start a new posting", new_post_url, :id=>"newContent" %>
</div>
  <div id="main">

		<div class="posts">
			<%= will_paginate @posts, :prev_label => "Newer", :next_label => "Older", :inner_window => 2 %>
			<% for post in @posts %>
				<div class="post">
					<p class="avatar">
						<%= link_to_avatar_for(post.user, :medium) %>
						<span class="author"><%= link_to_user(post.user) %>
					</p>
					<div class="postContent">
						<h2><%= link_to post, post %></h2>
							<p class="meta">
								<span class="date">
									<% if post.created_at==post.updated_at%>
										created <%= time_ago_in_words(post.created_at) %> ago,
									<% else %>
										last updated 
										<%= time_ago_in_words(post.updated_at) %> ago,
									<% end %>
								</span>
								<span class="commentCount">
								<%= pluralize(post.comments.count, "Comment") %>
								</span>
							</p>
						<p><%= post.brief %></p>
						
						<% unless post.topics.empty? %>
							<p class="topics">posted in
							<% for topic in post.topics %>
								<%= link_to topic, topic, :class => "topic" %>
							<% end %></p>
						<%end %>
						
					</div>
				</div>
			<% end %>
			
			<%= will_paginate @posts, :prev_label => "Newer", :next_label => "Older", :inner_window => 2 %>
		</div>
  </div>
<%= clear_this %>