<% @page_title = @initial_tag ? "Create a new post in tag '#{@initial_tag}'" : "Create a new post" %>

<div id="sidebar">
  <div id="missionStatement">
		<p>Every post will appear in the <%= link_to "discussion section", posts_url %> and on the home page.</p>
    <p>Selected or popular contributions will be added to the blog and also featured prominently on the homepage.</p>
  </div>
	
	
</div>

<div id="main">
  
  <p id="selectType">
    <%= link_to("Write text", new_post_url(:tag => @initial_tag ? @initial_tag.id : nil), :class => @upload ? nil : 'current') %> 
		<%= link_to("Upload a PDF file", upload_new_post_url(:tag => @initial_tag ? @initial_tag.id : nil), :class => @upload ? 'current' : nil) %>
  </p>  
	
	<%= render :partial => 'posts/form' %>
	

</div>

<%= clear_this %>