

<div id="sidebar">
  <div id="missionStatement">
		<p>Every post will appear in the <%= link_to "discussion section", posts_url %> and on the home page.</p>
    <p>Selected or popular contributions will be added to the blog and also featured prominently on the homepage.</p>
  </div>
</div>

<div id="main">
  <div id="contentTypes">
    <h1><%= @page_title = "Select type of content to add" %>:</h1>
    <ul>

      <li class="write">
        <%= link_to("Write a posting", text_new_post_url(:tag => @initial_tag ? @initial_tag.id : nil)) %> 
      </li>  

      <li class="file">
    		<%= link_to("Share a document", upload_new_post_url(:tag => @initial_tag ? @initial_tag.id : nil)) %>
    	</li>
	
    	<li class="video">
    		<%= link_to("Share a video", video_new_post_url(:tag => @initial_tag ? @initial_tag.id : nil)) %>
    	</li>
  	</ul>
	</div>
	
</div>

<%= clear_this %>