<% @page_title = "#{@post} #{@post.user ? 'by '+@post.user.to_s : ''}" %>

<div id="sidebar">
	<%= render :partial => 'posts/author' %>
	<%= render :partial => 'posts/tags' %>
	<%= render :partial => 'posts/subscribe' %>	
	<%= render :partial => 'posts/feature' %>	
</div>

<div id="main">
	<h1 class="post"><%=h @post %></h1>
  <%=render :partial => 'posts/meta', :locals=>{:post=>@post, :with_controls=>true}%>

	<% if @post.has_video? %>
	  <div class="video">
	    <%= @post.video_embed_tags %>
	  </div>
	<% end %>
	
	<% if @post.has_attachment? %>
	  <%= link_to "<img src=\"/images/pdf.gif\" width=\"54px\" height=\"66px\" alt=\"PDF preview\" />", @post.attachment.public_filename, :class => "PDFpreview" %>
  	<div class="fileBody">
  		<%= @post.detail %>
    	<p class="download"><%= link_to "Download this PDF file", @post.attachment.public_filename %></p>
  	</div>
	<% else %>
	  <div class="postBody">
  		<%= @post.detail %>
  	</div>
	<% end %>
		
	
	<%= render :partial => 'posts/comments' %>
	<%= render :partial => 'posts/comment_form' %>
</div>

