<% @page_title = "#{@post} by #{@post.user}" %>

<div id="sidebar">
	<%= render :partial => 'posts/author' %>
	<%= render :partial => 'posts/tags' %>
	<div>
	<%= render :partial => 'posts/feature' %>
	</div>
</div>

<div id="main">
	<h1 class="post"><%=h @post %></h1>
	<p class="meta">
		Posted <%= time_ago_in_words(@post.created_at) %> ago, updated <%= time_ago_in_words(@post.updated_at) %> ago. <%= link_to("Edit post", edit_post_url(@post)) if logged_in? && current_user == @post.user %>
	</p>

	<div class="postBody">
		<%= @post.detail %>
	</div>
	
	<%= render :partial => 'posts/comments' %>
	<%= render :partial => 'posts/comment_form' %>
</div>

