
<div id="sidebar">
	<div id="authorBlock">
		<h2>by <%= link_to_user(@post.user) %></h2>
		<p class="avatar">
	    <%= link_to_avatar_for(@post.user, :medium) %>
	  </p>
		<% unless  @post.user.profile_text.blank? %>
			<p><%= truncate(@post.user.profile_text, 200) %> <%= link_to('Learn more', user_url(@post.user)) %></p>
		<% end %>
		<div class="clearThis"> </div>
	</div>
	
	<div>
		Topics:
		<ul>
			<% for topic in @post.topics %>
				<li>
					<%= link_to topic, topic %>
				</li>
			<% end %>
		</ul>
		
		<% form_tag add_topic_post_url do | f | %>	  
			<%= label_tag :topic_name, "Add Topic:" %>
			<%= text_field_tag :topic_name %>
		<% end %>
		
	</div>
</div>

<div id="main">
	<h1><%= @post %></h1>
	<p class="date">Posted <%= time_ago_in_words(@post.created_at) %> ago.</p>

	<div class="postBody">
		<%= detail_format(@post.detail) %>
	</div>
	
	<div id="comments">
	<h2>Comments</h2>
		<% for comment in @post.comments %>
				<div class="comment">
					<p class="avatar">
						<%= link_to_avatar_for(comment.user, :medium) %>
						<span class="author"><%= link_to_user(comment.user) %>
					</p>
					<div class="postContent">
						<%= detail_format(comment.body) %>
					</div>
				</div>
		<% end %>
	</div>
		
	<%= render :partial => 'posts/comment_form' %>
</div>

<div class="clearThis"> </div>