<div id="header">
<ul id="topNavigation">
  <% if logged_in? %>
		<li><%= link_to('Settings', bio_settings_url) %></li>
		<li><%= link_to('Your public profile', user_url(current_user)) %></li>
		<li><%= link_to('Logout', logout_url) %></li>

	<% else %>
		<li><%= link_to "Login", login_url %></li>
		<li><%= link_to "Join", signup_url %></li>
	<% end %>
</ul>

<div id="search" style="display:none">
	<form action="#" method="get">
		<input id="s" name="s" onblur="resetTextfield(this)" onfocus="resetTextfield(this)" type="text" value="Search ..." />
	</form>
</div>
<div id="logo"><%= link_to "The Connected Republic", root_url %></div>



<%= render :partial => 'layouts/tabs' %>

<% if session[:as_someone_else] %>
  <div style="color:red">
    <h4><strong>CAREFUL!  You're logged in as <%= current_user %> !</strong></h4>
  </div>
<% end %>
</div>