<ul id="topNavigation">
  <% if logged_in? %>
		<li><%= link_to('Settings...', account_url) %></li>
		<li><%= link_to('Your public profile', user_url(current_user)) %></li>
		<li><%= link_to('Logout', logout_url) %></li>

	<% else %>
		<li><%= link_to "Login", login_url %></li>
		<li><%= link_to "Join", signup_url %></li>
	<% end %>
</ul>

<div id="search">
	<form action="#" method="get">
		<input id="s" name="s" onblur="resetTextfield(this)" onfocus="resetTextfield(this)" type="text" value="Search ..." />
	</form>
</div
<div id="logo"><%= link_to "The Connected Republic", posts_url %></div>

<%= render :partial => 'layouts/tabs' %>





