<ul id="mainNavigation">
    <li <%= current_if_tab_is(:home) %>><%= link_to "Home", root_url %></li>
    <li <%= current_if_tab_is(:features) %>><%= link_to "Features", featured_posts_url %></li>
    <li <%= current_if_tab_is(:discussions) %>><%= link_to "Discussions", posts_url %></li>
	<li <%= current_if_tab_is(:users) %>><%= link_to "Community", users_url %></li>
</ul>	


