<ul id="mainNavigation">
    <li <%= current_if_tab_is(:home) %>><%= link_to "Home", root_url %></li>
    <li <%= current_if_tab_is(:posts) %>><%= link_to "Postings", posts_url %></li>
    <li <%= current_if_tab_is(:topics) %>><%= link_to "Topics", topics_url %></li>
	<li <%= current_if_tab_is(:users) %>><%= link_to "People", users_url %></li>
</ul>	


