<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title><%=h @page_title ? "#{@page_title} | #{APP_NAME}" : "#{APP_NAME}" %></title>
	  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

		<%= javascript_include_tag :all, :cache => true %>
		<%= stylesheet_link_tag :all, :cache => true %>
		<%= auto_discovery_link_tag(:rss, formatted_posts_url(:format => :rss), :title => "All Posts") %>
		<%= auto_discovery_link_tag(:rss, formatted_featured_posts_url(:format => :rss), :title => "Featured Posts") %>

		<%= javascript_include_tiny_mce_if_used %>
		<%= tiny_mce if using_tiny_mce? %>
	</head>
  
  
	<body>
		<div id="wrap">
		
			<%= render :partial => 'layouts/header' %>
			<div id="content">
			<%= render(:partial => '/layouts/flash_details') %>

		   <%= yield %>

			</div>
			
			<%= render :partial => 'layouts/footer' %>
		</div>	
	</body>
	
	<%= render :partial => 'layouts/google_analytics' %>
</html>

