<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title><%=h @page_title ? "#{@page_title} | #{APP_NAME}" : "#{APP_NAME}" %></title>
	  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

		<%= javascript_include_tag :all, :cache => true %>
		<%= stylesheet_link_tag 'wminarch', :cache => true %>
		<%= auto_discovery_link_tag(:rss, formatted_posts_url(:format => :rss), :title => "All Posts") %>
		<%= auto_discovery_link_tag(:rss, formatted_featured_posts_url(:format => :rss), :title => "Featured Posts") %>

		<%= javascript_include_tiny_mce_if_used %>
		<%= tiny_mce if using_tiny_mce? %>
	</head>
  
  
	<body>
	  <div id="header">
  	  <ul id="navigation">  
  		  <li <%= current_if_tab_is(:home) %>><%= link_to "Home", root_url %></li>
  		  <li><%= link_to 'All Studios', groups_path %></li>
        <!-- <li <%= current_if_tab_is(:discussions) %>><%= link_to "All Updates", posts_url %></li> -->
        <% if logged_in? %>
          <li class="personal"><%= link_to('Logout', logout_url) %></li>
      		<li class="personal"><%= link_to('Your Settings', bio_settings_url) %></li>
      		<li class="personal"><%= link_to('Your Profile', user_url(current_user)) %></li>
      		<li class="personal"><%= link_to "Update", new_post_url %></li>
      	<% else %>
      		<li class="personal"><%= link_to "Login", login_url %></li>
      		<li class="personal"><%= link_to "Join", signup_url %></li>
      	<% end %>
      </ul>
    </div>
		<div id="wrap">

			
      
      <% unless flash_value.blank? %>
      	<div id="flash" <%= flash_class %>>
      	  <%= flash_value %>
      	</div>
      <% end %>
      
      
      <% if session[:as_someone_else] %>
        <div id="dangerAdmin">
          <p><strong>CAREFUL!  You're logged in as <%= current_user %> !</strong></p>
        </div>
      <% end %>
      
      
      
			<div id="content">


		   <%= yield %>
       
       <%= clear_this %>
       
			</div>
			
			<div id="footer">
          <p>
      	    Copyright 2008 - <a href="http://nokahuna.com/projects/5943">Open-source web application</a>.
          </p>
      </div>
      
		</div>	
	</body>
	
	<%= render :partial => 'layouts/google_analytics' %>
</html>

