<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title><%=h @page_title ? "#{@page_title} | #{APP_NAME}" : "#{APP_NAME}" %></title>
	  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

		<%= javascript_include_tag :all, :cache => true %>
		<%= stylesheet_link_tag :all, :cache => true %>
		<%= auto_discovery_link_tag(:rss, formatted_posts_url(:format => :rss), :title => "All Posts") %>
		<%= auto_discovery_link_tag(:rss, formatted_featured_posts_url(:format => :rss), :title => "Featured Posts") %>

		<%= javascript_include_tiny_mce_if_used %>
		<%= tiny_mce if using_tiny_mce? %>
	</head>
  
  
	<body>
    <%= render :partial => 'layouts/header' %>

		<div id="wrap">
		  <div class="container_16">
        <%= render :partial => 'layouts/flash'  unless flash_value.blank? %>
      
        <% if session[:as_someone_else] %>
        <div class="grid_11 prefix_5 alpha">
          <div id="dangerAdmin">
            <p><strong>CAREFUL!  You're logged in as <%= current_user %> !</strong></p>
          </div>
        </div>
        <% end %>
      
        <%= yield %>

        <%= clear_this %>
		    <%= render :partial => 'layouts/footer' %>
								
      </div>
		</div>
		<%= render :partial => 'layouts/google_analytics' %>
	</body>
	
	
</html>

