<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title><%=h @page_title ? "#{@page_title} | #{APP_NAME}" : "#{APP_NAME}" %></title>
	  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

		<%= javascript_include_tag :all, :cache => true %>
		<%= stylesheet_link_tag :all, :cache => true %>
	</head>
  
  
	<body>
		<div id="wrap">
		
		 	<ul id="topNavigation">
				<li><a href="#">Login</a></li>
				<li><a href="#">Sign Up</a></li>
			</ul>
			
			<div id="search">
				<form action="#" method="get">
					<input id="s" name="s" onblur="resetTextfield(this)" onfocus="resetTextfield(this)" type="text" value="Search ..." />
				</form>
			</div
			<div id="logo"><a href="#">The Connected Republic</a></div>

			<ul id="mainNavigation">
				<li  class="current"><a href="#">Content</a></li>
				<li><a href="#">Activity</a></li>
				<li><a href="#">Members</a></li>
			</ul>	
			<div id="content">
				<%= render(:partial => '/layouts/flash_details') %>
				
				<div id="sidebar">
					<h2>Sidebar stuff</h2>
				</div>
				
				<div id="main">
					
		    	<%= yield %>
		
				</div>
				

				
				<div class="clearThis"> </div>
			</div>
			<div id="footer">
				<p>Footer is forthcoming.</p>
			</div>
		</div>	
	</body>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-2666337-4");
	pageTracker._trackPageview();
	</script>
</html>

